<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14634588009-vhml43ubrpids7slp82c8vl5sk16pt7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14634588009-vhml43ubrpids7slp82c8vl5sk16pt7b</string>
	<key>API_KEY</key>
	<string>AIzaSyDPtqQrDOtiHXFaimRqFM2sRuOH-02suoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>14634588009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fabistartup</string>
	<key>PROJECT_ID</key>
	<string>fabi-startup</string>
	<key>STORAGE_BUCKET</key>
	<string>fabi-startup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14634588009:ios:59f761c02e3deb3a754ff8</string>
</dict>
</plist>